/* .none {
    display: none;
} */

.mural {
    max-width: 46rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
    margin-top: 1.875rem;
    border-top: 2px solid var(--gray-300);
    border-radius: 8px;
   
}


.muralimg {
    padding-bottom: 1rem;
    padding-top: 0.5rem; 
}
    

.muralfraseum {
    font-weight: bold; 
}

.mural p > p {
    color: var(--gray-100);
    font-size: 1rem;
}




@media(max-width: 800px) {
    .mural {
        max-width: 30rem;
        margin: 0 auto; 
        margin-top: 1.8rem;  
    }

    .mural p {
        font-size: 0.800rem;
    }
    
}


@media (max-width: 600px) {

    .mural {
        max-width: 15rem;
        font-size: 0.600rem;
        padding-top: 2rem;
        margin-top: 1rem;  

    }
    .taskscreate {
        font-size: 0.600rem;
    }

    .muralimg {
      width: 2.2rem;
    }
    .mural p {
        font-size: 0.500rem;
    }
     
    
}

@media (max-width: 280px) {
    .mural {
        max-width: 7.5rem;
        font-size: 0.600rem;
        padding-top: 1rem;
        margin-top: 0.8rem;  

    }
    .taskscreate {
        font-size: 0.400rem;
    }

    .muralimg {
      width: 2rem;
      padding-bottom: 0.5rem;
    }
    .mural p {
        font-size: 0.380rem;
    }
     

}



